body { 
    background-color: rgb(11, 18, 35);
    color: rgb(192, 22, 53);
font-family: "Oswald", sans-serif;
}

header{ 
    font-size: 50px;
    border-bottom: double 5px rgb(245, 19, 42);
    padding: 50px;
    text-align: center;
    color: white
}
h1 {
    font-size: 30px;
}

section { 
    background-color: rgb(9, 16, 34);
    display: flex;
    justify-content: center;
}


chamada-texto {
    margin-right:30px;
}


img{
    height: 300;
    width: 200;

    font-family: "Edu NSW ACT Hand Pre", cursive;
    
}